google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-generativeai
sqlalchemy
flask-bcrypt
google.genai

Flask==2.3.3
flask-bcrypt==1.0.1
flask-wtf==1.1.1
flask-behind-proxy==0.1.0
wtforms==3.1.1
email_validator>=1.2.1

google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.125.0
google-generativeai==0.3.2
sqlalchemy
pytz