{% extends 'layout.html' %}
{% block title %}Calendar{% endblock %}
{% block content %}
  <h1 class="mb-4">Calendar</h1>
  {% if fc_events %}
    {% if fc_events is sequence %}
      <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.18/index.global.min.css' rel="stylesheet"/>
      <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.18/index.global.min.js'></script>
      <div id="calendar"></div>
      <script>
          document.addEventListener('DOMContentLoaded', function() {
            console.log("DOM loaded, creating calendar...");
            var calendarEl = document.getElementById('calendar');
            const events = JSON.parse('{{ fc_events | tojson | safe }}');
            var calendar = new FullCalendar.Calendar(calendarEl, {
              initialView: 'dayGridMonth',
              events : events,
              eventClick: function(info) {
              alert('Event: ' + info.event.title + '\nStart: ' + info.event.start);
              info.el.style.borderColor = 'red';
              }
            });
            calendar.render();
          });
        </script>
    {% else %}
      <p>Error: fc_events is not a list.</p>
    {% endif %}
  {% else %}
    <p>Please <a href="{{ url_for('login') }}">log in</a> or <a href="{{ url_for('register') }}">register</a>.</p>
  {% endif %}
{% endblock %}


